*{
  margin: 0;
  padding: 0;
}
div{
height: 100vh;
background-color: red;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
h1{
  color: white;
}
button{
  padding: 6px 28px;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
  background-color: beige;
  color: darkred;
  border: 1px solid black;
  font-weight: 700;
  margin-top: 12px;
}